image: Ubuntu1804
test: off
build_script:
        - cd arch/arm/libopencm3
        - git submodule init
        - git submodule update
        - sudo apt-get -y install lemon re2c libc6 binutils-arm-none-eabi gcc-arm-none-eabi
        - make -j24 TARGETS="stm32/f1 stm32/f7"
        - cd ../../../
        - make
